body {
  background-color: rgb(255, 249, 254);
  position: relative
  grid-template-columns: repeat(3, 1fr);

}

h1 {
  font-family: "Major Mono Display";
  font-style: normal;
  font-weight: 400;
  font-size: 3.7vw;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: "Major Mono Display";
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  display: flex;
  justify-content: center;
}

.topnav {
  background-color: rgb(243, 222, 238);
  overflow: hidden;
  grid-column: 1/4;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: none;
  display: inline-block;
  color: #080808;
  align-items : center;
  padding: 14px 16px;
  text-decoration: black;
  font-size: 17px;
}


.topnav a.active {
  background-color: #d1cbd1;
  color: rgb(97, 95, 95);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

nav, aside, form {
    font-family: "Montserrat";
}

nav{
    font-weight: bold;
}

img.mySlides{
    width: 100%;
    max-height: 600px;
    margin:auto;

}  


.artista{
   margin-top: 1rem;
   margin-bottom: 1rem;
   width: 100%;
   height: fit-content;
   
}

.artista img{
    margin: 1rem 2rem 2rem 2rem;
    border-radius: 50%;
    width: 15rem;
    max-width: 30%;
    opacity: 85%;
}

#LCDLL{
 
}

.cuadros{
  
}




footer{
    text-align: center;
    background: rgb(226, 226, 226);
    font-size: 1.2vw;
    bottom: 0;
    width: 100%;
    
}







footer i{
  justify-items: center;
  min-width: 2rem
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

visited link 
a:visited {
  color: black;
  text-decoration: none;
} 

/* mouse over link */
a:hover {
  color: rgb(156, 152, 154);
  text-decoration: none;
}

/* selected link */
a:active {
  color: rgb(235, 164, 199);
  text-decoration: none;
}